---
const personalImageAlt = "Daniel Ochoa";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-green-00 dark:[&>p>strong]:text-green-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Daniel Ochoa, acabo de terminar mi formación académica en el sector IT para abrirme un nuevo camino laboral.  <strong
      >Actualmente estoy buscando trabajo como desarrollador de software </strong
      > y sigo avanzando en mis propios proyectos.
    </p>

    <p>
      Aproveché la realización del TFG para familiarizarme con tecnologías que no aprendí en el centro de formación como 
      <strong>SpringBoot, Maven, Docker, Mongo DB, API Rest, Microservicios, Postman, CI/CD, GitHub y Cloud Hosting</strong>, 
      para estar todavía más preparado con las herramientas que se utilizan en el ámbito laboral en la actualidad.
    </p>
  </div>

  <img
    width="100"
    height="100"
    src="/FotoDaniel2.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-green-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
