---
const personalImageAlt = "Daniel Ochoa";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-green-00 dark:[&>p>strong]:text-green-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      This is Daniel Ochoa. I've just finished my academic training in the IT sector to begin a new career path. <strong
      >I'm currently looking for a job as a software developer</strong
      >, as well as continuing on my own projects.
    </p>

    <p>
      I took advantage of the Degree Final Project developing to familiarize myself with technologies I didn't learn at the school, such as
      <strong>SpringBoot, Maven, Docker, Mongo DB, API Rest, Microservices, Postman, CI/CD, GitHub and Heroku Cloud Hosting</strong>, 
      to be even more prepared with the tools and technologies that are being used nowadays in the workplace.
    </p>
  </div>

  <img
    width="100"
    height="100"
    src="/FotoDaniel2.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-green-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
