---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "February 2024 - Present",
    title: "Software Developer",
    company: "Tek7 (Cambridge - Madrid)",
    description:
      "Contributed to SQL DataBase development. From designing the Entity-Relationship model diagram to Relational Model, Queries, Normalization, SQL, etc."
  },
  {
    date: "March 2024 - June 2024",
    title: "Front End Developer (JavaScript)",
    company: "MaxValley (Madrid)",
    description:
      "Contributed to front-end development for web applications focused on metaverse environments. Troubleshooted and resolved bugs, implemented new features, and maintained existing functionality. Technologies: Three.js (JavaScript), React, HTML, CSS, using Visual Studio Code."
  },
  {
    date: "Currently",
    title: "Developing own projects",
    description:
      "I'm developing some personal applications in addition to learn some new technologies to apply them in my next job.",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>