---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "Marzo 2024 - Junio 2024",
    title: "Desarrollador Front End (JavaScript)",
    company: "MaxValley",
    description:
      "Prácticas laborales en soporte de aplicaciones web desarrollando metaversos. Resolución de errores, implementación de nuevas funcionalidades y mantenimiento de las existentes. Tecnologías utilizadas: Three.JS (JavaScript), React, HTML y CSS en Visual Studio Code. "
  },
  {
    date: "Actualmente",
    title: "Desarrollando proyectos propios",
    description:
      "Actualmente me encuentro desarrollando algunas aplicaciones personales además de estar aprendiendo algunas tecnologías nuevas para aplicarlas en mi próximo puesto de trabajo.",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>