---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "March 2024 - June 2024",
    title: "Front End Developer (JavaScript)",
    company: "MaxValley",
    description:
      "Internship in support of web applications developing metaverses. Bug resolution, implementation of new features and maintenance of existing ones. Technologies used: Three.JS (JavaScript), React, HTML and CSS in Visual Studio Code. "
  },
  {
    date: "Currently",
    title: "Developing own projects",
    description:
      "I'm developing some personal applications in addition to learn some new technologies to apply them in my next job.",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>